/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root{
  --black-color:#000000;
  --gray-color:#333333;
  --white-color:#ffffff;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  color: var(--black-color);
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.site-header{
  width: 100%;
  background-image: url("../images/background.jpg");
}


.header-top{
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.site-logo{
  margin-right: auto;
}

.site-logo-img{
  display: block;
  margin-right: auto;
}

.nav-list{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;

}

.nav-link{
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  color: var(--gray-color);
  text-decoration: none;
}

.nav-item:not(:first-child){
  margin-left: 40px;
}

.hero{
  width: 100%;
  background-image: url("../images/background.jpg");
}

.hero-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
}

.hero-info{
  width: 464px;
  margin: 0;
  padding: 0;
}

.hero-info-title{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}

.hero-info-text{
  margin: 24px 0 34px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.hero-link{
  display: inline-block;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  background-color: #0A775F;
  color: var(--white-color);
  border-radius: 100px;
  text-decoration: none;
}

.hero-image{
  position: relative;
  left: 50px;
}

.hero-image:before{
  content: " ";
  position: absolute;
  left:-70px;
  top: -65px;
  width: 160px;
  height: 160px;
  background-image: url("../images/alfred.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.collection{
  width: 100%;
  overflow: hidden;
  background-color: var(--white-color);
}

.background{
  width: 1400px;
  margin: 20px auto;
  padding: 50px 0;
  background-image: url("../images/backgrond-main.png ");
}

.collection-title{
  margin: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
}

.collection-list{
  padding: 0;
}

.collection-item{
  width: 1014px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.collection-item:nth-child(even){
  flex-direction: row-reverse;
}

.collection-item:nth-child(1):before{
  content: "";
  position: absolute;
  z-index: 1;
  top: -130px;
  left: -300px;
  width: 402px;
  height: 300px;
  background-image: url("../images/vector-thirt.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.collection-item:nth-child(2):before{
  content: "";
  position: absolute;
  z-index: 1;
  top: 175px;
  left: 1040px;
  width: 545px;
  height: 591px;
  background-image: url("../images/vector-second.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.collection-item:nth-child(4):before{
  content: "";
  position: absolute;
  z-index: 1;
  top: -35px;
  left: -410px;
  width: 316px;
  height: 269px;
  background-image: url("../images/vector-first.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.collection-item:nth-child(even)  .collectin-info{
  margin-left: 117px;
}

.collection-item:nth-child(odd) .collectin-info{
  margin-right: 117px;
}



.collection-info {
  width: 402px;
}

.collection-info-title{
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: var(--black-color);
}

.collection-info-text{
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: var(--gray-color);
}





