/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root{
  --black-color:#000000;
  --gray-color:#333333;
  --white-color:#ffffff;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  color: var(--black-color);
}
img
{
  display: block;
}

ul
{
  list-style: none;
  padding: 0;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.site-header{
  width: 100%;
  background-image: url("../images/background.jpg");
}


.header-top{
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.site-logo{
  margin-right: auto;
}

.site-logo-img{
  display: block;
  margin-right: auto;
}

.nav-list{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;

}

.nav-link{
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  color: var(--gray-color);
  text-decoration: none;
}

.nav-item:not(:first-child){
  margin-left: 40px;
}

.hero{
  width: 100%;
  background-image: url("../images/background.jpg");
}

.hero-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
}

.hero-info{
  width: 464px;
  margin: 0;
  padding: 0;
}

.hero-info-title{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}

.hero-info-text{
  margin: 24px 0 34px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}



.hero-image{
  position: relative;
  left: 50px;
}

.hero-image:before{
  content: " ";
  position: absolute;
  left:-70px;
  top: -65px;
  width: 160px;
  height: 160px;
  background-image: url("../images/alfred.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.radio
{
  margin: 20px;
  padding: 80px 0;
  background-image: url(../images/about-page/headquarters.jpg);
}

.rad
{
  display: flex;
  position: relative;
}

.line
{
  position: absolute;
  width: 900px;
  top: 30px;
  left: 30px;
  border: 3px dashed #C99B67;
}


.rad-label {
  cursor: pointer;
  transition: .3s;
}

.rad-label:nth-child(3)
{
 margin: 0 20px;
}

.rad-input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  border: 4px solid #C99B67;
  background: linear-gradient(to right bottom, hsl(154, 97%, 62%),hsl(167, 84%, 25%));
  position: relative;
}

.rad-design::before {
  content: '';
  width: 53px;
  height: 53px;
  display: inline-block;
  background:#F8F8F2;
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-info
{
  width: 433px;
  padding: 20px 20px 40px;
  background: var(--white-color);
}

.rad-info-num
{
  margin: 0;
  margin-bottom: 45px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  text-align: end;
  font-variant: small-caps;
  color:var(--gray-color);
  opacity: 0.8;
}

.rad-info-title
{
  margin: 0;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  font-variant: small-caps;
}

.rad-info-text{
  margin: 0;
  margin-top: 10px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.survey
{
  margin: 20px;
  padding: 50px 0;
  background-image: url(../images/backgrond-main.png);
}

.survey-order
{
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.survey-order-item
{
  margin-bottom: 35px;
}

.survey-order-link
{
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-decoration: none;
  color: #555555;
}


.survey-box{
  display: flex;
  justify-content: space-between;
}

span{
  display: block;
}

.radio-box{
  display: flex;
  justify-content: space-between;
}

summary{
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  align-items: center;
}



summary::after{
  content: "";
  width: 40px;
  height: 40px;
  margin-left: 40px;
  background-image: url("../images/Vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

summary:checked::after
{
  transform: rotate(180deg);
}
.survey-summary
{
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
}

.radio-info-box
{
  width: 208px;
  height: 100%;
  display: inline-block;
  padding: 30px 21px 56px 16px;
  padding-right: 20px;
  padding-left: 16px;
  padding-bottom: 56px;
  background-color: hsl(167, 84%, 25%, 0.2);
}

.survey-input:checked ~ .radio-info-box
{
  background-color: #0A775F;
}

.survey-input:checked ~ .radio-info-box span{
  color: #fff;
}

.radio-title{
  margin-bottom: 10px;
  font-weight: var(--main-font-weight-middle);
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #333333;
}

.radio-text{
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.survey-form{
  width: 660px;
}

.survey-details{
  margin-bottom: 60px;
}



.button-box{
  width: 660px;
  margin-bottom: 20px;
  padding: 40px 22px 40px 20px;
  background-color: #C99B67;
}

.button-box-title{
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-box-text{
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
}

.button-box-black-text{
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #333333;
}


.radio-button{
  display: inline-block;
  margin-left: 483px;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  background-color: #0A775F;
  color: var(--white-color);
  border-radius: 100px;
  border: none;
  text-decoration: none;
}


footer
{
  background-image: url(../images/background.jpg);
}

.footer-box
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 67px 30px;
}

.footer-link
{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-list
{
  width: 150px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}




















